@import "../../assets/scss/variables.scss";
@import "../../assets/scss/mixins.scss";

.form {
    margin: 4rem auto 2rem;
    @include tablet_portrait {
        margin-top: 0;
    }
    @include tablet_landscape {
        margin-left: 3rem;
    }
    @include desktop {
        flex: 1;
        margin-left: 2rem;
        margin-top: 5rem;
        max-width: 33.75rem;
    }

    &__content {
        background-color: $white;
        border-radius: 10px;
        margin: 1.8rem 0;
        padding: 1.5rem;
        position: relative;
        @include desktop {
            margin-top: 1.5rem;
            padding: 2.5rem 2.5rem 2rem;
        }

        &:before {
            box-shadow: 0 9px 0 hsla(249, 10%, 26%, 0.18);
            border-radius: 10px;
            mix-blend-mode: multiply;
            content: "";
            height: 100%;
            left: 0;
            top: 0;
            position: absolute;
            width: 100%;
        }
    }

    &__consent {
        color: $grayish-blue;
        font-size: 0.7rem;
        line-height: 1.3rem;
        margin-top: 0.95rem;
        padding: 0 0.95rem;
    }

    &__consent--emphasis {
        color: $red;
        font-weight: 700;
    }
}
