.form {
    margin: 4rem auto 2rem;

    &__content {
        background-color: white;
        border-radius: 10px;
        margin: 30px 0;
        padding: 25px;
        position: relative;

        &:before {
            box-shadow: 0 9px 0 hsla(249, 10%, 26%, 0.18);
            border-radius: 10px;
            mix-blend-mode: multiply;
            content: "";
            height: 100%;
            left: 0;
            top: 0;
            position: absolute;
            width: 100%;
        }
    }

    &__consent {
        color: hsl(246, 25%, 77%);
        font-size: .7rem;
        line-height: 1.3rem;
        margin-top: 15px;
        padding: 0 15px;
    }

    &__consent--emphasis {
        color: hsl(0, 100%, 74%);
        font-weight: 700;
    }
}
