@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

.app {
    align-items: center;
    background-color: hsl(0, 100%, 74%);
    background-image: url("../../assets/images/bg-intro-mobile.png");
    background-size: 100%;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    flex-wrap: wrap;
    font-family: Poppins, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: 100vh;
    padding: 0 1.5rem;
    text-align: center;
}

input,
button {
    display: block;
}
